[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
pycodestyle = "*"
isort = "*"
ipython = "*"
"autopep8" = "*"

[requires]
python_version = "3.5"

[packages]
django = "*"
mysqlclient = "*"
"psycopg2" = "*"
whitenoise = "*"
gunicorn = "*"
